[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
python-decouple = "*"
mysqlclient = "*"
django-crispy-forms = "*"
argon2-cffi = "*"

[dev-packages]
autopep8 = "*"
flake8 = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.9"
