{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row mx-auto">
        {% for product in product_list %}
            <div class="col">
                {% include 'products/snippets/product-card.html' with instance=product %}
                {% if forloop.counter|divisibleby:3 %}
                    </div></div><div class="row mx-auto"><div class="col-12"><hr></div>
                {% else %}
                    </div>
                {% endif %}
                {% empty %}
                    <h3>Product list is empty.</h3>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}