{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">

    {% if cart.products.exists %}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Product</th>
                    <th scope="col">Price</th>
                </tr>
            </thead>
            <tbody>

                {% for product in cart.products.all %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>
                            <a href="{{ product.get_absolute_url }}" class="text-dark">{{ product.title }}</a>
                            {% include 'cart/snippets/update-cart.html' with product=product cart=cart in_cart=True %}
                        </td>
                        <td>{{ product.price }}</td>
                    </tr>
                {% endfor %}

                <tr>
                    <td colspan="2" rowspan="3"></td>
                    <td><b>SubTotal:</b> {{ cart.subtotal }}</td>
                </tr>
                <tr>
                    <td style="border-top: None;"><b>Total:</b> {{ cart.total }}</td>
                </tr>
                <tr>
                    <td style="border-top: None;"><a href="{% url 'cart:checkout' %}"
                            class="btn btn-danger btn-block">Checkout</a></td>
                </tr>


            </tbody>
        </table>
        
    {% else %}
        <p class="lead">Cart is empty.</p>
    {% endif %}

</div>
{% endblock content %}