{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    {% if not billing_profile %}
        <div class="row">
            <div class="col-12 col-md-6">
                <p class="lead text-center">Login</p>
                {% url 'accounts:login' as login %}
                {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri action_url=login %}
            </div>
            <div class="col-12 col-md-6">
                <p class="lead text-center">Continue as Guest</p>
                {% url 'accounts:guest-register' as guest_register_url %}
                {% include 'accounts/snippets/form.html' with form=guest_form next_url=request.build_absolute_uri action_url=guest_register_url %}
            </div>
        </div>
    {% else %}
        {% if not object.shipping_address %}
            <div class="row">
                <div class="col-10 col-md-6 mx-auto">
                    <h4 class="text-center">Shipping Address</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-5 mx-auto mb-4">
                    {% url 'addresses:address-create' as address_create_url %}
                    {% include 'addresses/form.html' with form=address_form action_url=address_create_url next_url=request.build_absolute_uri address_type='shipping' %}
                </div>
                <div class="col-12 col-md-6 mx-auto">
                    {% url 'addresses:address-reuse' as address_reuse_url %}
                    {% include 'addresses/stored_addresses.html' with address_type='shipping' next_url=request.build_absolute_uri action_url=address_reuse_url %}
                </div>
            </div>
        {% elif not object.billing_address %}
            <div class="row">
                <div class="col-10 col-md-6 mx-auto">
                    <h4 class="text-center">Billing Address</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-5 mx-auto mb-4">
                    {% url 'addresses:address-create' as address_create_url %}
                    {% include 'addresses/form.html' with form=address_form action_url=address_create_url next_url=request.build_absolute_uri address_type='billing' %}
                </div>
                <div class="col-12 col-md-6 mx-auto">
                    {% url 'addresses:address-reuse' as address_reuse_url %}
                    {% include 'addresses/stored_addresses.html' with address_type='billing' next_url=request.build_absolute_uri action_url=address_reuse_url %}
                </div>
            </div>
        {% else %}
            <div class="row">
                <div class="col-10 col-md-6 mx-auto">
                    <h4 class="text-center">Finalize Checkout</h4>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-5 mx-auto mb-4">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in object.cart.products.all %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>{{ product.title }}</td>
                                    <td>{{ product.price }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td colspan="2" rowspan="4"></td>
                                <td><b>SubTotal:</b> {{ object.cart.subtotal }}</td>
                            </tr>
                            <tr>
                                <td style="border-top: None;"><b>Tax:</b> {{ object.cart.tax }} %</td>
                            </tr>
                            <tr>
                                <td style="border-top: None;"><b>Shipping Charges:</b> {{ object.shipping_charges }}
                                </td>
                            </tr>
                            <tr>
                                <td style="border-top: None;"><b>Total:</b> ₹ {{ object.total }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-12 col-md-5 mx-auto mb-4">
                    <div class="jumbotron">
                        <p>{{ object.shipping_address.get_address }}</p>
                    </div>
                    <form method="POST" class="form">
                        {% csrf_token %}
                        <button class="btn btn-success" type="submit">Proceed To Checkout</button>
                    </form>
                </div>
            </div>
        {% endif %}
    {% endif %}
</div>
{% endblock content %}