{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    {% if not billing_profile %}
        <div class="row">
            <div class="col-12 col-md-6">
                <p class="lead text-center">Login</p>
                {% include 'accounts/snippets/form.html' with form=login_form next_url=request.build_absolute_uri %}
            </div>
            <div class="col-12 col-md-6">
                <p class="lead text-center">Continue as Guest</p>
                <label for="Guest Email">Email address</label>
                <input type="email" class="form-control" id="Guest Email" placeholder="name@example.com">
                <button type="submit" class="btn btn-primary my-2">Submit</button>
            </div>
        </div>
    {% else %}
        <h1>Checkout</h1>
        <p>SubTotal: {{ object.cart.subtotal }}</p>
        <p>Tax: {{ object.cart.tax }} %</p>
        <p>Shipping Charges: {{ object.shipping_charges }}</p>
        <p>Total: {{ object.total }}</p>
    {% endif %}
</div>
{% endblock content %}